<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Register Account Confirmation</title>
</head>

<body>
    <div style="text-align: right;">
        <p><strong>PERHATIAN JANGAN MEMBALAS EMAIL INI</strong></p>
    </div>
    <hr>
    <p>Terima Kasih atas partisipasi anda menggunakan fasilitas</p>
    <p>SIA Universitas Terbuka</p>
    <br>
    <p>Anda telah berhasil mendaftarkan akun anda pada Sistem menggunakan email  <strong>{{ email }}</strong> </p>
    <br>
    <p>Untuk melanjutkan langkah pendaftaran akun, silahkan klik tautan berikut ini</p>
    <br>
    <a href="{{ urlConfirmation }}"><strong>Link Verifikasi</strong></a>
    <br>
    <p>Demi alasan keamanan, <strong>link verifikasi berlaku selama 3x24 jam (3 Hari) setelah email ini kami kirimkan. </strong> Setelah jangka waktu tersebut, link verifikasi tidak dapat digunakan.</p>
    <p>Untuk mendapatkan link verifikasi, silahkan mengakses ke menu Aktivasi akun pada Sistem Kami</p>
    <br>
    <p>Apabila Anda telah menerima email ini tetapi Anda tidak pernah merasa</p>
    <p>bergabung dengan kami, maka seseorang telah mencoba mendaftar menggunakan Email Anda.</p>
    <br>
    <p>Jika hal tersebut Anda alami, Anda dapat mengabaikan atau menghapus pesan ini.</p>
    <br>
    <p>Sistem Registrasi Universitas Terbuka </p>
    <p>Universitas Terbuka - Indonesia</p>
</body>

</html>